<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mapper/imageMapper.xml"/>
		<mapper resource="mapper/cartMapper.xml"/>
		<mapper resource="mapper/bbsMapper.xml"/>
		<mapper resource="mapper/userMapper.xml"/>
		<mapper resource="mapper/itemMapper.xml"/>
	</mappers>
</configuration>