<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.Usermapper">
	<select id="getIdCount" resultType="Integer"
		parameterType="String">
	select count(*) as cnt from user_info
	where id = #{id}
	</select>
	<select id="getPassword" resultType="String"
		parameterType="String">
	select password from user_info where id = #{id}
	</select>
	<insert id="createUser" parameterType="model.User">
	insert into user_info values(#{id},#{password},#{name},#{gender},
		#{job},null,#{email})
	</insert>
	<select id="selectID" parameterType="String" resultType="String">
	select id from user_info where id = #{id}
	</select>
	<select id="selectMember" resultType="model.User">
	select id, password from user_info where id = #{id}
	</select>
</mapper>